// COMMON :: START

.copyright {
	display: flex;
	justify-content: center;

	&__text {
		color: #e5e5e5;
		font-size: 13px;
	}
}


//[data-aos] {
//	visibility: hidden;
//}
//[data-aos].animated {
//	visibility: visible;
//}

// COMMON :: END
