@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
/* line 14, src/scss/_utilities/_extend.scss */
.procedures__wrapper-left img, .style__block-right img, .staff .swiper-slide-content img, .insurance__wrapper-left img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@font-face {
  font-family: "iconFont";
  src: url("../fonts/iconFont.eot");
  src: url("../fonts/iconFont.eot?#iefix") format("eot"), url("../fonts/iconFont.woff2") format("woff2"), url("../fonts/iconFont.woff") format("woff"), url("../fonts/iconFont.ttf") format("truetype"), url("../fonts/iconFont.svg#iconFont") format("svg");
}

/* line 23, src/scss/_generated/_spriteFont.scss */
.icon-arrow-play:before, .icon-arrow:before, .icon-star:before {
  font-family: "iconFont", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

/* line 44, src/scss/_generated/_spriteFont.scss */
.icon-arrow-play:before {
  content: "";
}

/* line 44, src/scss/_generated/_spriteFont.scss */
.icon-arrow:before {
  content: "";
}

/* line 44, src/scss/_generated/_spriteFont.scss */
.icon-star:before {
  content: "";
}

/* line 1, src/scss/_shared/_main-setting-reset.scss */
html,
body {
  width: 100%;
  min-height: 100%;
}

/* line 6, src/scss/_shared/_main-setting-reset.scss */
html.is-hideScroll,
body.is-hideScroll {
  overflow: hidden !important;
}

/* line 12, src/scss/_shared/_main-setting-reset.scss */
html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 18, src/scss/_shared/_main-setting-reset.scss */
body {
  overflow-x: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #fff;
  line-height: 1.42857143;
  font-size: 14px;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 32, src/scss/_shared/_main-setting-reset.scss */
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

/* line 37, src/scss/_shared/_main-setting-reset.scss */
body > .body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

/* line 43, src/scss/_shared/_main-setting-reset.scss */
body > .body--start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/* line 50, src/scss/_shared/_main-setting-reset.scss */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 53, src/scss/_shared/_main-setting-reset.scss */
*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 60, src/scss/_shared/_main-setting-reset.scss */
button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  margin: 0;
}

/* line 70, src/scss/_shared/_main-setting-reset.scss */
button,
input {
  overflow: visible;
}

/* line 76, src/scss/_shared/_main-setting-reset.scss */
button[disabled] {
  opacity: 0.55;
  cursor: not-allowed;
}

/* line 82, src/scss/_shared/_main-setting-reset.scss */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/* line 88, src/scss/_shared/_main-setting-reset.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 94, src/scss/_shared/_main-setting-reset.scss */
textarea {
  overflow: auto;
}

/* line 99, src/scss/_shared/_main-setting-reset.scss */
p,
h1, h2, h3, h4, h5, h6,
hr {
  margin: 0;
  padding: 0;
}

/* line 107, src/scss/_shared/_main-setting-reset.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 112, src/scss/_shared/_main-setting-reset.scss */
ul li {
  list-style: none;
}

/* line 118, src/scss/_shared/_main-setting-reset.scss */
a {
  outline: none;
  text-decoration: none;
}

/* line 123, src/scss/_shared/_main-setting-reset.scss */
a:hover, a:focus {
  text-decoration: none;
}

/* line 130, src/scss/_shared/_main-setting-reset.scss */
input[type="text"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* line 134, src/scss/_shared/_main-setting-reset.scss */
picture {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 8, src/scss/_shared/_grid.scss */
.c-grid, .c-grid-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

/* line 20, src/scss/_shared/_grid.scss */
.c-grid {
  max-width: 1470px;
}

/* line 27, src/scss/_shared/_grid.scss */
.c-grid-fluid {
  max-width: 100%;
}

/* line 3, src/scss/_shared/_common.scss */
.copyright {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* line 7, src/scss/_shared/_common.scss */
.copyright__text {
  color: #e5e5e5;
  font-size: 13px;
}

/* line 1, src/scss/_shared/_iconFont.scss */
.icon-font {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  line-height: 1;
}

/* line 3, src/scss/_macros/_title.scss */
.c-title {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
  font-weight: 300;
  font-size: 36px;
}

/* line 10, src/scss/_macros/_title.scss */
.c-title--dark {
  color: #181818;
}

/* line 1, src/scss/_macros/_btn.scss */
.c-btn {
  outline: none;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  height: 57px;
  padding-left: 30px;
  padding-right: 30px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  background-color: #b1e4e8;
}

/* line 18, src/scss/_macros/_btn.scss */
.c-btn__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 22, src/scss/_macros/_btn.scss */
.c-btn span {
  color: #181819;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

/* line 29, src/scss/_macros/_btn.scss */
.c-btn--border {
  background-color: transparent;
  border: 1px solid #181819;
}

/* line 3, src/scss/_components/_footer.scss */
.footer {
  padding-top: 99px;
  padding-bottom: 140px;
  background-color: #181818;
}

/* line 8, src/scss/_components/_footer.scss */
.footer__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 80px;
}

/* line 14, src/scss/_components/_footer.scss */
.footer__nav-link {
  margin-left: 23px;
  margin-right: 23px;
  color: #e5e5e5;
  font-size: 13px;
  text-transform: uppercase;
}

/* line 23, src/scss/_components/_footer.scss */
.footer__info {
  width: 100%;
  max-width: 852px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 64px;
  font-size: 13px;
  color: #e5e5e5;
  text-align: center;
}

/* line 33, src/scss/_components/_footer.scss */
.footer__info h6 {
  padding-bottom: 44px;
  font-weight: 400;
}

/* line 39, src/scss/_components/_footer.scss */
.footer__info p strong {
  font-weight: 700;
}

/* line 43, src/scss/_components/_footer.scss */
.footer__info p a,
.footer__info p span {
  color: #e5e5e5;
}

/* line 50, src/scss/_components/_footer.scss */
.footer__rating {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 57px;
}

/* line 55, src/scss/_components/_footer.scss */
.footer__rating img {
  display: block;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* line 3, src/scss/_components/_welcome.scss */
.welcome {
  position: relative;
  padding-top: 300px;
  padding-bottom: 370px;
}

/* line 8, src/scss/_components/_welcome.scss */
.welcome__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 15, src/scss/_components/_welcome.scss */
.welcome__bg-square {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  width: 100%;
  max-width: 617px;
  height: 795px;
  background-color: #ede6e8;
}

/* line 26, src/scss/_components/_welcome.scss */
.welcome__bg-line {
  position: absolute;
  left: 0;
  width: 100%;
}

/* line 31, src/scss/_components/_welcome.scss */
.welcome__bg-line-1 {
  max-width: 641px;
  top: 78px;
}

/* line 36, src/scss/_components/_welcome.scss */
.welcome__bg-line-2 {
  max-width: 378px;
  bottom: 140px;
}

/* line 41, src/scss/_components/_welcome.scss */
.welcome__bg-line > div {
  width: 100%;
  height: 1px;
  background-color: #b1e4e8;
}

/* line 46, src/scss/_components/_welcome.scss */
.welcome__bg-line > div:not(:last-of-type) {
  margin-bottom: 59px;
}

/* line 50, src/scss/_components/_welcome.scss */
.welcome__bg-line > div:nth-of-type(2) {
  width: -webkit-calc(100% - 48px);
  width: calc(100% - 48px);
}

/* line 53, src/scss/_components/_welcome.scss */
.welcome__bg-line > div:nth-of-type(3) {
  width: -webkit-calc(100% - 96px);
  width: calc(100% - 96px);
}

/* line 56, src/scss/_components/_welcome.scss */
.welcome__bg-line > div:nth-of-type(4) {
  width: -webkit-calc(100% - 144px);
  width: calc(100% - 144px);
}

/* line 63, src/scss/_components/_welcome.scss */
.welcome__wrapper {
  z-index: 2;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 68, src/scss/_components/_welcome.scss */
.welcome__wrapper-left, .welcome__wrapper-right {
  width: 50%;
}

/* line 74, src/scss/_components/_welcome.scss */
.welcome__wrapper-left > div {
  width: 100%;
  max-width: 570px;
}

/* line 80, src/scss/_components/_welcome.scss */
.welcome__wrapper-right {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-left: 15px;
}

/* line 86, src/scss/_components/_welcome.scss */
.welcome__wrapper-right img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* line 94, src/scss/_components/_welcome.scss */
.welcome__subtitle {
  padding-bottom: 56px;
  font-size: 24px;
}

/* line 99, src/scss/_components/_welcome.scss */
.welcome__desc {
  padding-right: 15px;
  padding-bottom: 50px;
  font-size: 14px;
  line-height: 36px;
}

/* line 106, src/scss/_components/_welcome.scss */
.welcome__slogan {
  padding-bottom: 105px;
  font-size: 24px;
  font-style: italic;
  color: #9d9999;
}

/* line 113, src/scss/_components/_welcome.scss */
.welcome__name {
  white-space: nowrap;
  font-size: 12px;
  color: #9f9f9f;
  -webkit-transform: translate(0, -40px) rotate(-90deg);
      -ms-transform: translate(0, -40px) rotate(-90deg);
          transform: translate(0, -40px) rotate(-90deg);
}

/* line 5, src/scss/_components/_procedures.scss */
.procedures__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 915px;
  background-image: url("../img/img-procedures-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
}

/* line 13, src/scss/_components/_procedures.scss */
.procedures__wrapper-left {
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: -webkit-calc(50% + 105px);
  max-width: calc(50% + 105px);
}

/* line 24, src/scss/_components/_procedures.scss */
.procedures__wrapper-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
  padding-left: 150px;
}

/* line 32, src/scss/_components/_procedures.scss */
.procedures__wrapper-right > div {
  width: 100%;
  max-width: 465px;
}

/* line 39, src/scss/_components/_procedures.scss */
.procedures__title {
  padding-bottom: 81px;
}

/* line 43, src/scss/_components/_procedures.scss */
.procedures__desc {
  padding-bottom: 79px;
  color: #181818;
  font-size: 14px;
  line-height: 36px;
}

/* line 50, src/scss/_components/_procedures.scss */
.procedures__tags {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding-bottom: 127px;
}

/* line 55, src/scss/_components/_procedures.scss */
.procedures__tags a {
  margin-bottom: 23px;
}

/* line 58, src/scss/_components/_procedures.scss */
.procedures__tags a:not(:last-of-type) {
  margin-right: 23px;
}

/* line 64, src/scss/_components/_procedures.scss */
.procedures__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/* line 68, src/scss/_components/_procedures.scss */
.procedures__link a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #181819;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 16px;
}

/* line 77, src/scss/_components/_procedures.scss */
.procedures__link a i {
  position: relative;
  top: -1px;
  padding-left: 3px;
  font-size: 12px;
  font-style: normal;
}

/* line 3, src/scss/_components/_style.scss */
.style {
  padding-top: 235px;
  padding-bottom: 118px;
}

/* line 7, src/scss/_components/_style.scss */
.style__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 10, src/scss/_components/_style.scss */
.style__wrapper-left {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
  padding-right: 10px;
}

/* line 17, src/scss/_components/_style.scss */
.style__wrapper-right {
  width: 100%;
  max-width: 360px;
  padding-top: 100px;
  padding-left: 32px;
  padding-right: 65px;
}

/* line 26, src/scss/_components/_style.scss */
.style__title {
  padding-bottom: 67px;
}

/* line 30, src/scss/_components/_style.scss */
.style__desc {
  padding-bottom: 86px;
  font-size: 14px;
  line-height: 36px;
}

/* line 36, src/scss/_components/_style.scss */
.style__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 772px;
  background-color: #020202;
}

/* line 41, src/scss/_components/_style.scss */
.style__block-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 360px;
}

/* line 47, src/scss/_components/_style.scss */
.style__block-left > div {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: -webkit-calc(100% / 3);
  max-height: calc(100% / 3);
  padding: 65px;
}

/* line 55, src/scss/_components/_style.scss */
.style__block-left > div:not(:last-of-type):after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 5px;
  width: 100%;
  max-width: 213px;
  height: 1px;
  background-color: #ffffff;
}

/* line 68, src/scss/_components/_style.scss */
.style__block-left p {
  padding-bottom: 19px;
  font-family: 'Raleway', sans-serif;
  color: #b1e4e8;
  text-transform: uppercase;
  font-size: 18px;
}

/* line 76, src/scss/_components/_style.scss */
.style__block-left span {
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
}

/* line 83, src/scss/_components/_style.scss */
.style__block-right {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
}

/* line 3, src/scss/_components/_staff.scss */
.staff {
  position: relative;
  padding-top: 118px;
  padding-bottom: 83px;
}

/* line 8, src/scss/_components/_staff.scss */
.staff .c-grid {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* line 19, src/scss/_components/_staff.scss */
.staff__slider {
  z-index: 2;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

/* line 25, src/scss/_components/_staff.scss */
.staff__slider-left {
  width: 100%;
  max-width: -webkit-calc(50% - 225px);
  max-width: calc(50% - 225px);
}

/* line 30, src/scss/_components/_staff.scss */
.staff__slider-right {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
}

/* line 36, src/scss/_components/_staff.scss */
.staff__slider-bottom {
  width: 100%;
}

/* line 39, src/scss/_components/_staff.scss */
.staff__slider-bottom > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

/* line 50, src/scss/_components/_staff.scss */
.staff__slider-container {
  padding-bottom: 38px;
}

/* line 55, src/scss/_components/_staff.scss */
.staff__wrapper {
  z-index: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

/* line 66, src/scss/_components/_staff.scss */
.staff__wrapper-left {
  width: 100%;
  max-width: 360px;
  padding-right: 15px;
}

/* line 72, src/scss/_components/_staff.scss */
.staff__wrapper-right {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
}

/* line 79, src/scss/_components/_staff.scss */
.staff__title {
  padding-bottom: 87px;
}

/* line 83, src/scss/_components/_staff.scss */
.staff__desc {
  color: #181818;
  line-height: 36px;
}

/* line 87, src/scss/_components/_staff.scss */
.staff__desc strong {
  font-weight: 700;
}

/* line 94, src/scss/_components/_staff.scss */
.staff__btn--prev .icon-font {
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}

/* line 99, src/scss/_components/_staff.scss */
.staff__btn .icon-font {
  color: #b1e4e8;
  font-size: 32px;
}

/* line 106, src/scss/_components/_staff.scss */
.staff .swiper-slide {
  width: 397px !important;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

/* line 110, src/scss/_components/_staff.scss */
.staff .swiper-slide-active {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

/* line 114, src/scss/_components/_staff.scss */
.staff .swiper-slide-content {
  text-align: center;
}

/* line 117, src/scss/_components/_staff.scss */
.staff .swiper-slide-content > div {
  position: relative;
  width: 100%;
  height: 561px;
}

/* line 127, src/scss/_components/_staff.scss */
.staff .swiper-slide-content p {
  color: #181818;
  padding-top: 22px;
  font-weight: 600;
  font-size: 14px;
}

/* line 134, src/scss/_components/_staff.scss */
.staff .swiper-slide-content span {
  color: #a8a5a5;
  font-size: 14px;
}

/* line 3, src/scss/_components/_insurance.scss */
.insurance {
  padding-top: 83px;
  padding-bottom: 61px;
}

/* line 7, src/scss/_components/_insurance.scss */
.insurance__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 10, src/scss/_components/_insurance.scss */
.insurance__wrapper-left {
  position: relative;
  width: 100%;
  max-width: 704px;
  height: 863px;
}

/* line 21, src/scss/_components/_insurance.scss */
.insurance__wrapper-right {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
  padding-top: 35px;
  padding-bottom: 47px;
}

/* line 30, src/scss/_components/_insurance.scss */
.insurance__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 50px 0 50px 150px;
  background-image: url("../img/img-insurance-bg@2x.jpg");
  background-repeat: no-repeat;
  background-position: right center;
  -webkit-background-size: cover;
          background-size: cover;
}

/* line 42, src/scss/_components/_insurance.scss */
.insurance__title {
  min-height: 153px;
  padding-bottom: 51px;
}

/* line 47, src/scss/_components/_insurance.scss */
.insurance__desc {
  line-height: 36px;
  font-size: 14px;
  color: #ffffff;
}

/* line 52, src/scss/_components/_insurance.scss */
.insurance__desc-2 {
  padding-bottom: 77px;
}

/* line 57, src/scss/_components/_insurance.scss */
.insurance__block {
  width: 100%;
}

/* line 60, src/scss/_components/_insurance.scss */
.insurance__block:not(:last-of-type) {
  margin-right: 120px;
}

/* line 64, src/scss/_components/_insurance.scss */
.insurance__block-1 {
  max-width: 255px;
}

/* line 68, src/scss/_components/_insurance.scss */
.insurance__block-2 {
  max-width: 385px;
}

/* line 72, src/scss/_components/_insurance.scss */
.insurance__block-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 3, src/scss/_components/_partners.scss */
.partners {
  padding-top: 61px;
  padding-bottom: 80px;
}

/* line 7, src/scss/_components/_partners.scss */
.partners__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 11, src/scss/_components/_partners.scss */
.partners__wrapper-left, .partners__wrapper-right {
  width: 80px;
}

/* line 16, src/scss/_components/_partners.scss */
.partners__wrapper-middle {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
}

/* line 23, src/scss/_components/_partners.scss */
.partners__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 26, src/scss/_components/_partners.scss */
.partners__btn--next {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/* line 29, src/scss/_components/_partners.scss */
.partners__btn--next .icon-font {
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}

/* line 34, src/scss/_components/_partners.scss */
.partners__btn .icon-font {
  color: #828282;
  font-size: 59px;
}

/* line 41, src/scss/_components/_partners.scss */
.partners .swiper-wrapper {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 45, src/scss/_components/_partners.scss */
.partners .swiper-slide {
  padding: 0 5px;
}

/* line 48, src/scss/_components/_partners.scss */
.partners .swiper-slide img {
  display: block;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* line 3, src/scss/_components/_testimonials.scss */
.testimonials {
  position: relative;
  padding-top: 80px;
  padding-bottom: 200px;
}

/* line 8, src/scss/_components/_testimonials.scss */
.testimonials__bg {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 16, src/scss/_components/_testimonials.scss */
.testimonials__bg img {
  display: block;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

/* line 24, src/scss/_components/_testimonials.scss */
.testimonials__wrapper {
  z-index: 2;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 240px;
}

/* line 30, src/scss/_components/_testimonials.scss */
.testimonials__wrapper-left {
  width: 330px;
  padding-right: 50px;
}

/* line 35, src/scss/_components/_testimonials.scss */
.testimonials__wrapper-right {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
  padding-left: 50px;
}

/* line 43, src/scss/_components/_testimonials.scss */
.testimonials__title {
  padding-bottom: 71px;
}

/* line 47, src/scss/_components/_testimonials.scss */
.testimonials__desc {
  padding-bottom: 69px;
  color: #181818;
  line-height: 36px;
  font-size: 14px;
}

/* line 54, src/scss/_components/_testimonials.scss */
.testimonials__block {
  position: absolute;
  width: 100%;
  max-width: 313px;
  border: 1px solid #b4b0b0;
}

/* line 60, src/scss/_components/_testimonials.scss */
.testimonials__block-1 {
  z-index: 1;
  top: 0;
  left: 106px;
}

/* line 65, src/scss/_components/_testimonials.scss */
.testimonials__block-2 {
  z-index: 2;
  bottom: 0;
  right: 66px;
}

/* line 70, src/scss/_components/_testimonials.scss */
.testimonials__block-3 {
  z-index: 3;
  left: 0;
  bottom: 143px;
}

/* line 75, src/scss/_components/_testimonials.scss */
.testimonials__block-4 {
  z-index: 4;
  top: 173px;
  right: 0;
}

/* line 81, src/scss/_components/_testimonials.scss */
.testimonials__block-wrapper {
  position: relative;
  width: 100%;
  max-width: 724px;
  height: 704px;
}

/* line 88, src/scss/_components/_testimonials.scss */
.testimonials__block-bg {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 96, src/scss/_components/_testimonials.scss */
.testimonials__block-bg span {
  position: absolute;
  right: 25px;
  bottom: -35px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20px;
  font-size: 14px;
  color: #181818;
}

/* line 108, src/scss/_components/_testimonials.scss */
.testimonials__block-bg:after {
  content: '';
  position: absolute;
  bottom: -10px;
  right: 25px;
  width: 20px;
  height: 20px;
  border: 1px solid #b4b0b0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

/* line 119, src/scss/_components/_testimonials.scss */
.testimonials__block-bg:before {
  content: '';
  position: absolute;
  bottom: -10px;
  right: 25px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

/* line 131, src/scss/_components/_testimonials.scss */
.testimonials__block-content {
  z-index: 2;
  position: relative;
  padding: 37px;
  background-color: #ffffff;
}

/* line 138, src/scss/_components/_testimonials.scss */
.testimonials__block-star {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 22px;
}

/* line 143, src/scss/_components/_testimonials.scss */
.testimonials__block-star .icon-font {
  color: #f9b805;
  font-size: 15px;
}

/* line 147, src/scss/_components/_testimonials.scss */
.testimonials__block-star .icon-font:not(:last-of-type) {
  margin-right: 5px;
}

/* line 153, src/scss/_components/_testimonials.scss */
.testimonials__block p {
  font-size: 16px;
  line-height: 24px;
  font-style: italic;
  color: #737373;
}

/*# sourceMappingURL=maps/app.css.map */
