// FOOTER :: START

footer#footer.footer
	.c-grid
		.footer__wrapper

			nav.footer__nav(data-aos="fade-up")
				a.footer__nav-link(href="#") Home
				a.footer__nav-link(href="#") Services
				a.footer__nav-link(href="#") About
				a.footer__nav-link(href="#") Dental Faqs
				a.footer__nav-link(href="#") Technology
				a.footer__nav-link(href="#") Testimonials
				a.footer__nav-link(href="#") Blog
				a.footer__nav-link(href="#") New Patient Forms
				a.footer__nav-link(href="#") Contact us

			.footer__info
				h6(data-aos="fade-up") Tenafly Dental Associates proudly serves Bergen County NJ and surrounding communities including: Tenafly NJ • Englewood, NJ • Bergenfield, NJ • Teaneck, NJ • Dumont, NJ •  New Milford, NJ • Yonkers, NY • River Edge, NJ • Hackensack, NJ • Fort Lee, NJ • Maywood, NJ • Paramus, NJ • Ridgefield Park, NJ • Palisades Park, NJ • Westwood, NJ, • Little Ferry, NJ.
				p(data-aos="fade-up")
					strong phone.
					a(href='tel:201.871.4505') 201.871.4505
				p(data-aos="fade-up")
					strong address.
					span 2 Dean Dr., Suite D, Tenafly, NJ 07670
				p(data-aos="fade-up")
					strong hours.
					span M & Th 9am-8pm | Tu & Wed 9am-5pm | Sun 9am-1pm

			.footer__rating(data-aos="fade-up")
				img(src="img/img-google-reviews.jpg" srcset="img/img-google-reviews@2x.jpg 2x" alt="")

			.copyright(data-aos="fade-up")
				p.copyright__text © Copyright 2020. Website Development by OMATiX | Accessibility

// FOOTER :: END
