// HEADER :: START

header#header.header
	.c-grid-fluid
		.header__wrapper
			.header__wrapper-left
				p.header__num 201.871.4505

			.header__wrapper-middle

				.logo.logo--header
					a.logo__btn(href="#")
						img(src="img/logo.png" srcset="img/logo@2x.png 2x" alt="")


			.header__wrapper-right

				+hamburger()


// HEADER :: END
