// HEADER :: START

header#header.header
	.c-grid-fluid
		.header__wrapper
			.header__wrapper-left
				a.header__num(href='#')
					span 201.871.4505
					i.icon-font.icon-phone

			.header__wrapper-middle

				.logo.logo--header
					a.logo__btn(href="#")
						img(src="img/logo.png" srcset="img/logo@2x.png 2x" alt="")

			.header__wrapper-right

				+hamburger()


// HEADER :: END
