// SECTION :: START

section#insurance.insurance

	.insurance__bg

	.insurance__wrapper(parallax-js)
		.insurance__wrapper-left
			img(src="img/img-insurance.jpg" srcset="img/img-insurance@2x.jpg 2x" alt="" data-stellar-ratio="1.1")

		.insurance__wrapper-right

			.insurance__content(data-stellar-background-ratio="0.9")
				div

					.insurance__block-wrapper
						.insurance__block.insurance__block-1
							p.insurance__title.c-title(data-aos="fade-up") Insurance

							p.insurance__desc.insurance__desc-1(data-aos="fade-up") To best serve our patients, our office is in-network with most major PPO plans. Our experienced team will help you understand your specific insurance coverage and policy benefits.

						.insurance__block.insurance__block-2
							p.insurance__title.c-title(data-aos="fade-up")!= "No Insurance? <br>No Problem."

							p.insurance__desc.insurance__desc-2(data-aos="fade-up") Join our unique, budget-friendly membership plan. We got you covered with an annual, affordable plan. Great dentistry. Affordable. Stress-free.

							.c-btn__wrapper(data-aos="fade-up")
								a.c-btn(href="#")
									span The Tenafly Smile Club

// SECTION :: END
