// SECTION :: START

section#main.main
	.c-grid
		.main__wrapper

			div

				.main__box(data-aos="zoom-in")
					div
						div
							p!= "Dentistry with <strong>Integrity</strong> <br>& <strong>Genuine Care</strong>"

							span
								u liron gamzeh, dds

				.c-btn__wrapper.c-btn__wrapper--center(data-aos="fade-up" data-aos-delay="200")
					a.c-btn(href="#")
						span Schedule Appointment

// SECTION :: END
