// SECTION :: START

section#menu.menu(mobile-block-js)

	.menu__link-wrapper

		a.menu__link.c-btn.is-active(href="#")
			span HOME
		.menu__link-block
			a.menu__link.c-btn(href="#" menu-link-js)
				span THE DIFFERENCE
				i.icon-font.icon-arrow-play
			.menu__link-dropdown
				a.menu__link.c-btn(href="#")
					span Action
				a.menu__link.c-btn(href="#")
					span One More Action
				a.menu__link.c-btn(href="#")
					span More Action
				a.menu__link.c-btn(href="#")
					span Another Action
				a.menu__link.c-btn(href="#")
					span Some Action
		.menu__link-block
			a.menu__link.c-btn(href="#" menu-link-js)
				span YOUR FIRST VISIT
				i.icon-font.icon-arrow-play
			.menu__link-dropdown
				a.menu__link.c-btn(href="#")
					span Action
				a.menu__link.c-btn(href="#")
					span One More Action
				a.menu__link.c-btn(href="#")
					span More Action
				a.menu__link.c-btn(href="#")
					span Another Action
				a.menu__link.c-btn(href="#")
					span Some Action
		a.menu__link.c-btn(href="#")
			span MEET DR. ASHLEY
		a.menu__link.c-btn(href="#")
			span PATIENT REVIEWS
		a.menu__link.c-btn(href="#")
			span MEMBERSHIP PLAN
		a.menu__link.c-btn(href="#")
			span OUR SERVICES
		a.menu__link.c-btn(href="#")
			span SMILE GALLERY
		a.menu__link.c-btn(href="#")
			span SMILECO. SHOP
		a.menu__link.c-btn(href="#")
			span CONTACT US
		a.menu__link.c-btn(href="#")
			span PAY ONLINE
		a.menu__link.c-btn(href="#")
			span VIRTUAL CONSULTATION
		a.menu__link.c-btn(href="#")
			span BOOK NOW


// SECTION :: END
