// SECTION :: START

section#procedures.procedures

	.procedures__wrapper
		.procedures__wrapper-left
			img(src="img/img-procedures.jpg" srcset="img/img-procedures@2x.jpg 2x" alt="")

		.procedures__wrapper-right
			div
				p.procedures__title.c-title.c-title--dark!= "Dental <br>Procedures"
				p.procedures__desc Treat yourself to our most popular dental services. All of our treatments and services are provided in a comfortable, professional office, designed according to high-quality standards.

				.procedures__tags
					a.c-btn.c-btn--border(href="#")
						span Dental Implants
					a.c-btn.c-btn--border(href="#")
						span Invisalign
					a.c-btn.c-btn--border(href="#")
						span Porcelain veneers
					a.c-btn.c-btn--border(href="#")
						span teeth Whitening

				.procedures__link
					a(href="#")
						span View All
						i >>

// SECTION :: END
