// SECTION :: START

section#style.style
	.c-grid
		.style__wrapper
			.style__wrapper-left

				.style__block
					.style__block-left
						div(data-aos="fade-up")
							p Availability
							span We are glad to offer evening appointments and Sunday availability to work around your busy schedule.
						div(data-aos="fade-up")
							p Advanced Technology
							span At Tenafly Dental Associates, we utilize the most up to date technology to provide top notch dental care.
						div(data-aos="fade-up")
							p We’re Perfectionists
							span From the customer service to the quality of your dental care, we don't settle for anything less then perfect.

					.style__block-right
						img(src="img/img-style.jpg" srcset="img/img-style@2x.jpg 2x" alt="")

			.style__wrapper-right

				p.style__title.c-title.c-title--dark(data-aos="fade-up") Family Style
				p.style__desc(data-aos="fade-up") We treat our patients like family. We are personal, connected, care about your family and live locally in the community.
				.c-btn__wrapper(data-aos="fade-up")
					a.c-btn(href="#")
						span request appointment

// SECTION :: END
