// FOOTER :: START

.footer {
	padding-top: 99px;
	padding-bottom: 140px;
	background-color: #181818;
	@include adaptive(1279) {
		padding-top: 75px;
		padding-bottom: 100px;
	}
	@include adaptive(767) {
		padding-top: 75px;
		padding-bottom: 75px;
	}

	&__nav {
		display: flex;
		align-items: center;
		justify-content: center;
		padding-bottom: 80px;
		@include adaptive(1279) {
			padding-bottom: 65px;
		}
		@include adaptive(1023) {
			flex-wrap: wrap;
		}
		@include adaptive(767) {
			justify-content: flex-start;
		}

		&-link {
			position: relative;
			margin-left: 23px;
			margin-right: 23px;
			color: #e5e5e5;
			font-size: 13px;
			text-transform: uppercase;
			@include adaptive(1279) {
				margin-left: 15px;
				margin-right: 15px;
			}
			@include adaptive(1023) {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				max-width: calc(100% / 5);
				margin: 15px 0;
				padding-left: 5px;
				padding-right: 5px;
				text-align: center;
			}
			@include adaptive(767) {
				max-width: calc(100% / 2);
			}

			&:hover {
				color: #e5e5e5;

				&:after {
					opacity: 1;
					visibility: visible;
					transform: translateY(0) scaleY(1);
					@include transition(opacity, visibility, transform);
				}
			}

			&:after {
				content: '';
				opacity: 0;
				visibility: hidden;
				position: absolute;
				top: calc(100% + 5px);
				left: 0;
				width: 100%;
				height: 2px;
				background-color: #e5e5e5;
				transform: translateY(-100%);
				@include transition(opacity, visibility, transform);
			}
		}
	}

	&__info {
		width: 100%;
		max-width: 852px;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 64px;
		font-size: 13px;
		color: #e5e5e5;
		text-align: center;
		@include adaptive(767) {
			padding-bottom: 55px;
		}

		h6 {
			padding-bottom: 44px;
			font-weight: 400;
		}

		p {
			strong {
				font-weight: 700;
			}

			a,
			span {
				color: #e5e5e5;
			}
		}
	}

	&__rating {
		display: flex;
		justify-content: center;
		padding-bottom: 57px;

		img {
			display: block;
			max-width: 100%;
			height: auto;
			max-height: 100%;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

// FOOTER :: END
