// HEADER :: START

.header {
	z-index: 1500;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #000000;

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 79px;
	}

	&__num {
		font-size: 14px;
		color: #ffffff;
	}
}

// HEADER :: END
