// HEADER :: START

.header {
	z-index: 1500;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #000000;

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 79px;
		padding-left: 15px;
		padding-right: 15px;
		@include adaptive(1023) {
			padding-left: 0;
			padding-right: 0;
		}

		&-left,
		&-right {
			width: 200px;
			@include adaptive(767) {
				width: 60px;
			}
		}

		&-middle {
			display: flex;
			justify-content: center;
			flex: 1;
			min-width: 1px;
			max-width: 100%;
		}

		&-right {
			display: flex;
			justify-content: flex-end;
		}
	}

	&__num {
		display: flex;
		font-size: 14px;
		color: #ffffff;
		letter-spacing: 1.5px;
		@include adaptive(767) {
			span {
				display: none;
			}
		}

		span,
		.icon-font {
			color: #ffffff;
		}

		.icon-font {
			display: none;
			color: #ffffff;
			font-size: 25px;
			@include adaptive(767) {
				display: flex;
			}
		}
	}
}

// HEADER :: END
