// SECTION :: START

.insurance {
	padding-top: 83px;
	padding-bottom: 61px;
	@include adaptive(1023) {
		padding-top: 40px;
		padding-bottom: 30px;
	}

	&__wrapper {
		display: flex;

		&-left {
			position: relative;
			width: 100%;
			max-width: 704px;
			height: 863px;
			@include adaptive(1439) {
				max-width: 604px;
				height: 763px;
			}
			@include adaptive(1365) {
				height: 663px;
			}
			@include adaptive(1279) {
				max-width: 40%;
			}

			img {
				@extend %imageResCoverAbs;
			}
		}

		&-right {
			flex: 1;
			min-width: 1px;
			max-width: 100%;
			padding-top: 35px;
			padding-bottom: 47px;
		}
	}

	&__content {
		display: flex;
		align-items: center;
		width: 100%;
		height: 100%;
		padding: 50px 15px 50px 150px;
		background-image: url('../img/img-insurance-bg@2x.jpg');
		background-repeat: no-repeat;
		background-position: right center;
		background-size: cover;
		@include adaptive(1535) {
			padding-left: 75px;
		}
		@include adaptive(1439) {
			padding-left: 50px;
		}
		@include adaptive(1279) {
			padding-left: 30px;
		}
	}

	&__title {
		min-height: 153px;
		padding-bottom: 51px;
	}

	&__desc {
		line-height: 36px;
		font-size: 14px;
		color: #ffffff;

		&-2 {
			padding-bottom: 77px;
			@include adaptive(1279) {
				padding-bottom: 57px;
			}
		}
	}

	&__block {
		width: 100%;

		&:not(:last-of-type) {
			margin-right: 120px;
			@include adaptive(1535) {
				margin-right: 75px;
			}
			@include adaptive(1279) {
				margin-right: 55px;
			}
		}

		&-1 {
			max-width: 255px;
		}

		&-2 {
			max-width: 385px;
		}

		&-wrapper {
			display: flex;
		}
	}
}

// SECTION :: END
