// SECTION :: START

.style {
	padding-top: 235px;
	padding-bottom: 118px;
	@include adaptive(1279) {
		padding-top: 175px;
		padding-bottom: 75px;
	}
	@include adaptive(1023) {
		padding-top: 100px;
	}
	@include adaptive(767) {
		padding-bottom: 55px;
	}

	&__wrapper {
		display: flex;
		@include adaptive(1023) {
			flex-direction: column-reverse;
		}

		&-left {
			flex: 1;
			min-width: 1px;
			max-width: 100%;
			padding-right: 10px;
			@include adaptive(1023) {
				padding-right: 0;
			}
		}

		&-right {
			width: 100%;
			max-width: 360px;
			padding-top: 100px;
			padding-left: 32px;
			padding-right: 65px;
			@include adaptive(1023) {
				max-width: 100%;
				padding: 0 0 50px;
			}
		}
	}

	&__title {
		padding-bottom: 67px;
		@include adaptive(1365) {
			padding-bottom: 57px;
		}
		@include adaptive(1023) {
			padding-bottom: 37px;
		}
	}

	&__desc {
		padding-bottom: 86px;
		font-size: 14px;
		line-height: 36px;
		@include adaptive(1365) {
			padding-bottom: 66px;
		}
		@include adaptive(1023) {
			padding-bottom: 46px;
		}
	}

	&__block {
		display: flex;
		min-height: 772px;
		background-color: #020202;
		@include adaptive(1365) {
			min-height: 672px;
		}
		@include adaptive(767) {
			min-height: unset;
			flex-direction: column-reverse;
		}

		&-left {
			display: flex;
			flex-direction: column;
			width: 100%;
			max-width: 360px;
			@include adaptive(767) {
				max-width: 100%;
			}

			> div {
				position: relative;
				width: 100%;
				height: 100%;
				max-height: calc(100% / 3);
				padding: 65px;
				@include adaptive(1365) {
					padding: 45px;
				}

				&:not(:last-of-type) {
					&:after {
						content: '';
						position: absolute;
						bottom: 0;
						right: 5px;
						width: 100%;
						max-width: 213px;
						height: 1px;
						background-color: #ffffff;
					}
				}
			}

			p {
				padding-bottom: 19px;
				font-family: 'Raleway', sans-serif;
				color: #b1e4e8;
				text-transform: uppercase;
				font-size: 18px;
			}

			span {
				color: #ffffff;
				font-size: 14px;
				line-height: 24px;
			}
		}

		&-right {
			position: relative;
			flex: 1;
			min-width: 1px;
			max-width: 100%;
			@include adaptive(767) {
				overflow: hidden;
				height: 400px;
			}

			img {
				@extend %imageResCoverAbs;
				@include adaptive(767) {
					position: relative;
				}
			}
		}
	}
}

// SECTION :: END
