// META TAGS
meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=0")
meta(http-equiv="x-ua-compatible" content="ie=edge")

// TITLE
title!= title

// FAVICON
//- link(rel="shortcut icon" href="./icon/favicon.ico")
//- link(rel="icon" type="image/png" href="./icon/favicon.png")

link(href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet")

link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous")

include _style
