// SCRIPT :: START


if(env)
	script(src="js/bundle.min.js")
else
	script(src="js/vendor.js")
	script(src='media/assets/aos.js')
	script(src='media/assets/ScrollMagic.min.js')
	script(src='media/assets/animation.gsap.min.js')
	script(src='media/assets/popper.min.js')
	script(src='media/assets/bootstrap.min.js')
	script(src="js/app.js")

// SCRIPT :: END
