.c-btn {
  outline: none;
  cursor: pointer;
	overflow: hidden;
	position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 57px;
	padding-left: 30px;
	padding-right: 30px;
  border: none;
  box-shadow: none;
  border-radius: 0;
	background-color: #b1e4e8;

  &__wrapper {
		display: flex;

		&--center {
			justify-content: center;
		}
	}

	span {
		color: #181819;
		font-size: 16px;
		text-transform: uppercase;
		letter-spacing: 0.5px;
	}

	&--border {
		background-color: transparent;
		border: 1px solid #181819;
	}
}

// BUTTON :: END
