// TITLE :: START

.c-title {
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	color: #ffffff;
	font-weight: 300;
	font-size: 36px;
	@include adaptive(1365) {
		font-size: 33px;
	}

	&--dark {
		color: #181818;
	}
}

// TITLE :: END
